<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['./general']"> General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['./settings']"> Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['./activate-rules']">Activate Rules</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['./deactivate-rules']">Deactivate Rules</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['./server-calls']">App Server Calls</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['./server-queries']">App Server Queries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['./events']">App Events</a>
    </li>
</ul>

<router-outlet></router-outlet>
